<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>

  
        <script type="text/javascript">
//<![CDATA[
var page={};var onCondition=function(D,C,A,B){D=D;A=A?Math.min(A,5):5;B=B||100;if(D()){C()}else{if(A>1){setTimeout(function(){onCondition(D,C,A-1,B)},B)}}};
//]]>
</script>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="en-us" http-equiv="Content-Language">
<meta content="Twitter is without a doubt the best way to share and 
discover what is happening right now." name="description">
<meta content="no" http-equiv="imagetoolbar">
<meta content="width = 780" name="viewport">
<meta content="4FTTxY4uvo0RZTMQqIyhh18HsepyJOctQ+XTOu1zsfE=" 
name="verify-v1">
<meta content="1" name="page">
<meta content="NOODP" name="robots">
<meta content="y" name="session-loggedin">
<meta content="131325015" name="session-userid">
<meta content="ausdogeth" name="session-user-screen_name">
<meta content="ausdogeth" name="page-user-screen_name">
    <title id="page_title">Kevin Read (ausdogeth) on Twitter</title>
    <link 
href="https://s3.amazonaws.com/twitter_production/a/1270853725/images/favicon.ico"
 rel="shortcut icon" type="image/x-icon">
<link 
href="https://s3.amazonaws.com/twitter_production/a/1270853725/images/twitter_57.png"
 rel="apple-touch-icon">
    <link rel="alternate" 
href="https://twitter.com/statuses/user_timeline/131325015.rss" 
title="ausdogeth's Tweets" type="application/rss+xml">
    <link rel="alternate" 
href="https://twitter.com/favorites/131325015.rss" title="ausdogeth's 
Favorites" type="application/rss+xml">
  
    
    <link href="ausdogeth_files/twitter-https.css" media="screen" 
rel="stylesheet" type="text/css">
<link href="ausdogeth_files/geo-https.css" media="screen" 
rel="stylesheet" type="text/css">
<link href="ausdogeth_files/buttons_new-https.css" media="screen" 
rel="stylesheet" type="text/css">
        <style type="text/css">
      
        body { background: #C0DEED url('https://s3.amazonaws.com/twitter_production/a/1270853725/images/bg-clouds.png') repeat-x; }
      
      
      
    </style>
      <link href="ausdogeth_files/following-https.css" media="screen, 
projection" rel="stylesheet" type="text/css">

  <script src="ausdogeth_files/util.js" charset="UTF-8" type="text/javascript"></script></head><body
 class="account firefox unconfirmed-email signin-island" id="profile">  
  
    <script type="text/javascript">
//<![CDATA[
if (window.top !== window.self) {document.write = "";window.top.location = window.self.location; setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}
//]]>
</script>
    
    
    <div id="dim-screen"></div>
    <ul id="accessibility" class="offscreen">
  <li><a href="#content" accesskey="0">Skip past navigation</a></li>
  <li>On a mobile phone? Check out <a href="http://m.twitter.com/">m.twitter.com</a>!</li>
  <li><a href="#footer" accesskey="2">Skip to navigation</a></li>
      <li><a href="#tabMenu" accesskey="3">Jump to the sidebar</a></li>
    <li><a href="#signin">Skip to sign in form</a></li>
</ul>

    
    

    <div id="container" class="subpage">
            <span id="loader" style="display: none;"><img alt="Loader" 
src="ausdogeth_files/loader.gif"></span>
      <div class="clearfix" id="header">
  <a href="https://twitter.com/" title="Twitter / Home" accesskey="1" 
id="logo">
          <img alt="Twitter.com" 
src="ausdogeth_files/twitter_logo_header.png" height="36" width="155">  
  
  </a>
            <form method="post" id="sign_out_form" 
action="/sessions/destroy" style="display: none;">
        <input name="authenticity_token" 
value="75bd655c6284c89524d2de017670ec535d97a1f5" type="hidden">
      </form>

              <ul class="top-navigation round">
          <li><a href="https://twitter.com/home" accesskey="h" 
id="home_link">Home</a></li>
          
          <li><a href="https://twitter.com/ausdogeth" accesskey="p" 
id="profile_link">Profile</a></li>
          <li><a href="https://twitter.com/invitations/find_on_twitter" 
accesskey="=" id="find_people_link">Find People</a></li>
          <li><a href="https://twitter.com/settings/account" 
accesskey="s" id="settings_link">Settings</a></li>
          <li><a href="https://twitter.com/help/start" accesskey="?" 
id="help_link">Help</a></li>
          <li>
            
              <a id="sign_out_link" href="https://twitter.com/logout" 
onclick="document.getElementById('sign_out_form').submit(); return 
false;" accesskey="l">Sign out</a>
            
          </li>
          
        </ul>
            </div>



      

      <div class="content-bubble-arrow"></div>
      <div class="unconfirmed-email-banner">
  <h4>
    Please confirm your account — a confirmation message was sent to <span
 class="unconfirmed-email-value">readkev@gmail.com</span>
  </h4>
  <div class="until-you-confirm-message">
    Until you confirm, you will have limited access to certain features 
on Twitter. <a href="http://help.twitter.com/forums/26810/entries/82050"
 target="_blank">Learn more</a>
  </div>
  <div class="resend-message until-you-confirm-message">
    <a href="https://twitter.com/account/resend_confirmation_email" 
class="activation resend-email">Resend confirmation</a>
    <span class="activation resending-email" style="display: none;">
      Resending confirmation
      <img src="ausdogeth_files/spinner.gif" alt="waiting" 
title="waiting" height="14" width="14">
    </span>
     - <a href="https://twitter.com/settings/account?change_email=true">Change
 email address (Settings)</a>
  </div>
</div>

      
      
        <table class="columns" cellspacing="0">
          <tbody>
            <tr>
              <td id="content" class="round-left column">
                                <div class="wrapper">
                  
                  

  




  
  
<!-- Prototype menus and other snippets for use by Javascript -->


<div id="prototypes" style="display: none;">
  <div id="action_menu" style="display: none;">
    <ul class="round" style="display: block;">
      <li class="mention"><a href="https://twitter.com/?status=%40"><i></i>Mention
 <span>user</span></a></li>
      <li class="direct-message"><a 
href="https://twitter.com/direct_messages/create/"><i></i>Direct message
 <span>user</span></a></li>
      <li class="follow"><a 
href="https://twitter.com/friendships/create/"><i></i>Follow <span>user</span></a></li>
      <li class="unfollow"><a 
href="https://twitter.com/friendships/destroy/"><i></i>Unfollow <span>user</span></a></li>
      <li class="block"><a href="https://twitter.com/blocks/create/"><i></i>Block
 <span>user</span></a></li>
      <li class="unblock"><a href="https://twitter.com/blocks/destroy/"><i></i>Unblock
 <span>user</span></a></li>
      
        <li class="report-for-spam"><a 
href="https://twitter.com/user_spam_reports/"><i></i>Report <span>user</span>
 for spam</a></li>
      
          </ul>
  </div>

      <div id="list_menu" style="display: none;">
      <ul class="round" style="display: block;">
                                  <li class="new-list"><a href="">New 
list</a></li>
      </ul>
    </div>
    <div id="list_dialog" style="display: none;">
  <div>
  <form method="post" action="https://twitter.com/ausdogeth/lists">
    <fieldset>
      <label class="title">List name</label>
      <input id="list_name" name="list[name]" class="list-name title" 
maxlength="25" type="text">
      <span class="list-slug-title-and-slug" style="display: none;">
        <label class="list-slug-title title">List link:</label>
        <div class="list-slug"><span class="list-link">@ausdogeth/<span></span></span></div>
      </span>
    </fieldset>
    <fieldset class="clear list-description-fieldset">
      <label class="title">Description</label>
      <textarea id="list_description" name="list[description]" 
class="list-description title" maxlength="100"></textarea>
      <div class="list-description-instruction">Under 100 characters, 
optional</div>
    </fieldset>
    <fieldset class="clear bottom">
      <label class="title">Privacy</label>
      <div class="options">
        <label class="radio"><input name="list[mode]" value="0" 
checked="checked" type="radio"> <strong>Public</strong> — Anyone can 
subscribe to this list.</label>
        <label class="radio"><input name="list[mode]" value="1" 
type="radio"> <strong>Private</strong> — Only you can access this list.</label>
      </div>
      <div class="private-warning">
        <strong>Are you sure?</strong>
        <p>Switching your list from public to private will remove all of
 its subscribers.</p>
      </div>
    </fieldset>
    <input id="authenticity_token" name="authenticity_token" 
value="75bd655c6284c89524d2de017670ec535d97a1f5" type="hidden">
    <input class="btn create-list-button submit" value="Create list" 
type="submit">
    <input class="btn update-list-button submit" value="Update list" 
type="submit">
    <input class="list-member-id" name="list[member][id]" type="hidden">
    <input class="list-slug-field" name="list[slug]" type="hidden">
  </form>
  </div>
</div>

<h2 id="list_dialog_header" style="display: none;">
  <span class="create-list-heading">Create a new list</span>
  <span class="update-list-heading">Update this list</span>
</h2>

<div id="list_no_members_owner" style="display: none;">
  <div class="no-members">
  <h3>Find people to add to your list:</h3>
  <form action="https://twitter.com/search/users" method="get">  <fieldset
 class="common-form">
                <input class="medium" id="q" name="q" type="text">      <input
 name="category" value="people" type="hidden">
      <input name="source" value="users" type="hidden">
      <input class="submit btn" id="search_users_submit" value="search" 
type="submit">      <p class="instruction">Search for a username, first 
or last name, business or brand</p>
            </fieldset>
</form>  <p class="tip">You can also add people from your <a 
href="https://twitter.com/following">Following</a> page or anyone’s 
profile page.</p>
</div>
</div>
<div id="list_no_members" style="display: none;">
  <p class="no-members">This list doesn’t follow any users yet. It 
probably will soon, though.</p>

</div>

  
  <div id="is_following" style="display: none;">
    <span class="is-following"><i></i><strong>Following</strong></span>
  </div>
  <div id="is_blocked" style="display: none;">
    <span class="is-blocked"><i></i><strong>Blocked</strong>
      — <span class="unblock"><a 
href="https://twitter.com/blocks/destroy/">Unblock</a></span>
    </span>
  </div>
  <div id="is_blocked_with_undo" style="display: none;">
    <span class="is-blocked"><i></i><strong>Blocked</strong>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
    </span>
  </div>
  <div id="is_blocked_as_spammer" style="display: none;">
    <span class="is-blocked"><i></i><strong>Blocked and reported for 
spam</strong>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
      <span class="learn-more"><a 
href="http://help.twitter.com/forums/26810/entries/64986">Learn more</a></span>
    </span>
  </div>
  <div id="is_blocked_as_spammer_my_followers" style="display: none;">
    <span class="is-blocked"><span id="blocked_msg"></span>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
    </span>
  </div>
  <div id="is_pending" style="display: none;">
    <span class="is-pending"><i></i><strong>Pending</strong>
      — <span class="cancel"><a 
href="https://twitter.com/friend_requests/cancel/">Cancel</a></span>
    </span>
  </div>
  <div id="is_blocked_with_undo_and_username" style="display: none;">
    <span class="is-blocked"><i></i><strong><a 
href="https://twitter.com/%%7Buser%7D">%{user}</a> blocked</strong>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
    </span>
  </div>
  <div id="is_blocked_with_undo_and_username" style="display: none;">
    <span class="is-blocked"><i></i><strong><a 
href="https://twitter.com/%%7Buser%7D">%{user}</a> blocked</strong>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
    </span>
  </div>
  <div id="is_blocked_as_spammer_with_undo_and_username" style="display:
 none;">
    <span class="is-blocked"><i></i><strong><a 
href="https://twitter.com/%%7Buser%7D">%{user}</a> blocked and reported 
for spam</strong>
      — <span class="undo"><a href="https://twitter.com/blocks/undo">Undo</a></span>
    </span>
  </div>
</div>
<!-- /Prototype... -->


<div class="profile-user">
  <div id="user_131325015" class="user direct-messageable" 
data="{lists:[]}">
    <h2 class="thumb clearfix">
      <a href="https://twitter.com/settings/profile"><img alt="Add your 
own photo here" src="ausdogeth_files/default_profile_add_photo.png"></a>
      <div class="screen-name">ausdogeth</div>
    </h2>

    <div class="hentry">
     

    </div>

    
      <div class="profile-controls round">
        <div class="is-relationship">
          <span><strong>That's you!</strong></span>
        </div>

        
        <ul class="user-actions" style="text-align: right;">
        <li class="list-menu menu">
      <button class="btn" title="Manage lists in which ausdogeth 
appears"><b></b>Lists<i></i></button>
    </li>
    </ul>
      </div>

      
        <div class="list-tags-outer" style="display: none;">
          <hr>
          <label>Your lists:</label>
          <ul id="list_tags_131325015" class="list-tags">
                      </ul>
        </div>
      
      
      
      </div>
</div>


<div class="section">

  <div id="timeline_heading" style="display: none;">
    <h1 id="heading"></h1>
  </div>
  <ol id="timeline" class="statuses">
                  <li class="hentry u-ausdogeth mine status 
latest-status" id="status_11907250794">
    <span class="status-body">
    <span class="status-content">
                    <span class="actions"><div>      <a 
id="status_star_11907250794" class="fav-action non-fav" title="favorite 
this tweet">&nbsp;&nbsp;</a>
</div></span>
            <span class="entry-content">Rails training!</span>
          </span>
    <span class="meta entry-meta" data="{}">
  <a class="entry-date" rel="bookmark" 
href="https://twitter.com/ausdogeth/status/11907250794">
    <span class="published timestamp" data="{time:'Fri Apr 09 23:28:28 
+0000 2010'}">12 minutes ago</span></a>
  <span>via web</span>
    
  </span>

    <ul class="actions-hover">
  
        
      <li>
      <span class="del">
        <span class="delete-icon icon"></span>
        <a href="#" title="delete this tweet">Delete</a>
      </span>
    </li>
  </ul>
          </span>
</li>
      </ol>
  <div id="pagination">
      </div>

</div>





                </div>
                              </td>
              
                <td id="side_base" class="column round-right">
                                  
                  <div id="side">
                      
<div id="profile" class="section profile-side">
  <span class="section-links">
      </span>
  <address>
    </address><ul class="about vcard entry-author">
      
      
      
        <li><span class="label">Name</span> <span class="fn">Kevin Read</span></li>
                              
    </ul>
  
        


<div class="stats">
  <table>
    <tbody><tr>
      <td>
      
        

<a href="https://twitter.com/ausdogeth/following" 
id="following_count_link" class="link-following_page" rel="me" 
title="See who you’re following">
  <span id="following_count" class="stats_count numeric">1 </span>
  <span class="label">Following</span>
</a>


      </td>
      <td>

<a href="https://twitter.com/ausdogeth/followers" 
id="follower_count_link" class="link-followers_page" rel="me" title="See
 who’s following you">
  <span id="follower_count" class="stats_count numeric">0 </span>
  <span class="label">Followers</span>
</a>

</td>
              <td>

<a href="https://twitter.com/ausdogeth/lists/memberships" 
id="lists_count_link" class="link-lists_page" rel="me" title="See which 
lists you’re on">
  <span id="lists_count" class="stats_count numeric">0 </span>
  <span class="label">Listed</span>
</a>

</td>
                </tr>
  </tbody></table>
</div>
  
</div>

  <ul id="primary_nav" class="sidebar-menu">
    <li class="active" id="profile_tab"><a 
href="https://twitter.com/loggedout/profile/ausdogeth" accesskey="u"><span
 id="update_count" class="stat_count">1</span><span>Tweets</span></a></li>
    <li id="profile_favorites_tab"><a 
href="https://twitter.com/ausdogeth/favorites" accesskey="f"><span>Favorites</span></a></li>
  </ul>



  
      

<hr>


  <div id="following">
    <h2 class="sidebar-title" id="fm_menu"><span>Following</span></h2>
          <div class="sidebar-menu">
  <div id="following_list">
    
  <span class="vcard">
    <a href="https://twitter.com/drnic" class="url" hreflang="en" 
rel="contact" title="Dr Nic"><img alt="Dr Nic" class="photo fn" 
src="ausdogeth_files/Photo_43_mini.jpg" height="24" width="24"></a>  </span>


  </div>
  
</div>

      </div>




  <div id="rssfeed">
    <hr>
    <a href="https://twitter.com/statuses/user_timeline/131325015.rss" 
class="xref rss profile-rss" rel="alternate" type="application/rss+xml">RSS
 feed of ausdogeth's tweets</a>
     <a href="https://twitter.com/favorites/131325015.rss" class="xref 
rss favorites-rss" rel="alternate" type="application/rss+xml">RSS feed 
of ausdogeth's favorites</a>
  </div>


                  </div>
                                </td>
              
            </tr>
          </tbody>
        </table>
      

      
  <div id="footer" class="round">
      <h3 class="offscreen">Footer</h3>
      
      
      <ul class="footer-nav">
          <li class="first">© 2010 Twitter</li>
          <li><a href="https://twitter.com/about">About Us</a></li>
          <li><a href="https://twitter.com/about/contact">Contact</a></li>
          <li><a href="http://blog.twitter.com/">Blog</a></li>
          <li><a href="http://status.twitter.com/">Status</a></li>
                      <li><a href="https://twitter.com/goodies">Goodies</a></li>
                    <li><a href="http://apiwiki.twitter.com/">API</a></li>
                      <li><a 
href="http://business.twitter.com/twitter101">Business</a></li>
                    <li><a href="https://twitter.com/help/start">Help</a></li>
          <li><a href="https://twitter.com/jobs">Jobs</a></li>
          <li><a href="https://twitter.com/tos">Terms</a></li>
          <li><a href="https://twitter.com/privacy">Privacy</a></li>
      </ul>
  </div>



      <hr>

    </div>

    
    
    <script src="ausdogeth_files/jquery_002.js" type="text/javascript"></script>
<script src="ausdogeth_files/twitter-https.js" type="text/javascript"></script>
<script src="ausdogeth_files/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="ausdogeth_files/js.js"></script><script src="ausdogeth_files/main.js" type="text/javascript"></script>
<script src="ausdogeth_files/gears_init.js" type="text/javascript"></script>
<script src="ausdogeth_files/geov1.js" type="text/javascript"></script>
<script src="ausdogeth_files/api.js" type="text/javascript"></script>
        <script src="ausdogeth_files/following.js" type="text/javascript"></script>
        <script src="ausdogeth_files/mustache.js" type="text/javascript"></script>
<script src="ausdogeth_files/dismissable.js" type="text/javascript"></script>
  
    <script src="ausdogeth_files/api.js" type="text/javascript"></script>
<script src="ausdogeth_files/controls.js" type="text/javascript"></script>
<script src="ausdogeth_files/hover_cards.js" type="text/javascript"></script>
  
  <script src="ausdogeth_files/email_confirmation.js" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
  page.user_screenname = 'ausdogeth';
  page.user_fullname = 'Kevin Read';
      page.controller_name = 'AccountController';
      page.action_name = 'profile';
      twttr.form_authenticity_token = '75bd655c6284c89524d2de017670ec535d97a1f5';
      $.ajaxSetup({ data: { authenticity_token: '75bd655c6284c89524d2de017670ec535d97a1f5' } });

      // FIXME: Reconcile with the kinds on the Status model.
      twttr.statusKinds = {
        UPDATE: 1,
        SHARE: 2
      };
      twttr.ListPerUserLimit = 20;

      
    
//]]>
</script>
<script type="text/javascript">
//<![CDATA[

      $( function () {
                window.titleText = {"shares":{"off":"Retweets from this user won't appear in your timeline.","on":"Retweets from this user will appear in your timeline."},"sms":{"off":"Updates are not sent to your mobile phone.","on":"Updates are sent by SMS to your mobile phone."},"replies":{"off":"Only replies to people you follow appear in your timeline.","on":"All replies, even to people you don't follow, appear in your timeline."}}; //FIXME: refactor out as initTitleText
        $('.user').isUser();
        initializePage();

  
    $(document).ready(function() {
      if ($.browser.msie && $.browser.version < 7) {
        return;
      }
      twttr.HOVERCARD = new twttr.HoverCard('#timeline .entry-content a.tweet-url.username, #timeline a.screen-name');
      $('#content li.status').live('mousedown', function() {
        twttr.HOVERCARD.unregister();
      });
      $('body').bind('mouseup', function() {
        twttr.HOVERCARD.register();
      });
    });
  

      });
    
//]]>
</script>

        <!-- BEGIN google analytics -->

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script src="ausdogeth_files/ga.js" type="text/javascript"></script>

  <script type="text/javascript">

    try {
      var pageTracker = _gat._getTracker("UA-30775-6");
      pageTracker._setDomainName("twitter.com");
            pageTracker._setVar('Logged In');
            pageTracker._setVar('lang: en');
            pageTracker._initData();
                              pageTracker._trackPageview('/profile/ausdogeth');
                  } catch(err) { }

  </script>

  <!-- END google analytics -->





    <div id="notifications"></div>


    

    

  <div class="hovercard hoverer"><div class="hoverer-inner 
hovercard-inner">
  <div class="loading-above-below">
    <span class="loading-msg">loading...</span>
    <span class="user-dne">Sorry, this does not appear to be an active 
Twitter account</span>
  </div>
  <div class="loading-inline">
    <div class="bd">
      <div class="loading-inline-graphic" style="background-image: 
url(&quot;&quot;);">
      </div>
      <div class="loading-inline-spinner">
        <img src="ausdogeth_files/spinner.gif">
      </div>
      <div class="bio">
        <p class="sn"><a href="https://twitter.com/" class="screen_name 
tweet-url screen-name"></a></p>
      </div>
    </div>
  </div>
  <div class="hovercard-content"></div>
  <div class="hovercard-divot"></div>
</div>
</div></body></html>