<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">
//<![CDATA[
var matches,url,path,domain;url=document.location.toString();try{domain=url.match(/https?:\/\/[^\/]+/);if(matches=url.match(/(.+?)#(.+)/)){url=matches[1];path=matches[2];if(path){var arr=path.split(/\?/);path=arr[0];var params=arr[1];path=path.replace(/^\//,"");var redirect_url=[domain,path].join("/");if(params){redirect_url=[redirect_url,params].join("?")}document.location=redirect_url}}}catch(err){};
//]]>
</script>    <script type="text/javascript">
//<![CDATA[
var page={};var onCondition=function(D,C,A,B){D=D;A=A?Math.min(A,5):5;B=B||100;if(D()){C()}else{if(A>1){setTimeout(function(){onCondition(D,C,A-1,B)},B)}}};
//]]>
</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="en-us" http-equiv="Content-Language" />
<meta content="Twitter is without a doubt the best way to share and discover what is happening right now." name="description" />
<meta content="no" http-equiv="imagetoolbar" />
<meta content="width = 780" name="viewport" />
<meta content="4FTTxY4uvo0RZTMQqIyhh18HsepyJOctQ+XTOu1zsfE=" name="verify-v1" />
<meta content="1" name="page" />

<meta content="NOODP" name="robots" />
<meta content="y" name="session-loggedin" />
<meta content="131325015" name="session-userid" />
<meta content="ausdogeth" name="session-user-screen_name" />
    <title id="page_title">Twitter / Home</title>
    <link href="https://s3.amazonaws.com/twitter_production/a/1270853725/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="https://s3.amazonaws.com/twitter_production/a/1270853725/images/twitter_57.png" rel="apple-touch-icon" />
<link rel="alternate" href="https://twitter.com/statuses/friends_timeline.rss" title="Your Twitter Timeline" type="application/rss+xml" />
<link rel="alternate" href="https://twitter.com/statuses/replies.rss" title="Your Twitter @ausdogeth Mentions" type="application/rss+xml" />
<link rel="alternate" href="https://twitter.com/favorites/131325015.rss" title="Your Twitter Favorites" type="application/rss+xml" />

    
    <link href="https://s3.amazonaws.com/twitter_production/a/1270853725/stylesheets/twitter-https.css" media="screen" rel="stylesheet" type="text/css" />
<link href="https://s3.amazonaws.com/twitter_production/a/1270853725/stylesheets/geo-https.css" media="screen" rel="stylesheet" type="text/css" />

<link href="https://s3.amazonaws.com/twitter_production/a/1270853725/stylesheets/buttons_new-https.css" media="screen" rel="stylesheet" type="text/css" />
        <style type="text/css">
      
        body { background: #C0DEED url('https://s3.amazonaws.com/twitter_production/a/1270853725/images/bg-clouds.png') repeat-x; }
      
      
      
    </style>
    
  </head>

  <body class="timeline firefox" id="home">    
    <script type="text/javascript">
//<![CDATA[
if (window.top !== window.self) {document.write = "";window.top.location = window.self.location; setTimeout(function(){document.body.innerHTML='';},1);window.self.onload=function(evt){document.body.innerHTML='';};}
//]]>
</script>
    
    
    <div id="dim-screen"></div>
    <ul id="accessibility" class="offscreen">
  <li><a href="#content" accesskey="0">Skip past navigation</a></li>

  <li>On a mobile phone? Check out <a href="http://m.twitter.com/">m.twitter.com</a>!</li>
  <li><a href="#footer" accesskey="2">Skip to navigation</a></li>
      <li><a href="#tabMenu" accesskey="3">Jump to the sidebar</a></li>
    <li><a href="#signin">Skip to sign in form</a></li>
</ul>

    
    

    <div id="container" class="subpage">

            <span id="loader" style="display:none"><img alt="Loader" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/loader.gif" /></span>
      <div class="clearfix" id="header">
  <a href="https://twitter.com/" title="Twitter / Home" accesskey="1" id="logo">
          <img alt="Twitter.com" height="36" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/twitter_logo_header.png" width="155" />    
  </a>
            <form method="post" id="sign_out_form" action="/sessions/destroy" style="display:none;">
        <input name="authenticity_token" value="75bd655c6284c89524d2de017670ec535d97a1f5" type="hidden"/>
      </form>

              <ul class="top-navigation round">

          <li><a href="https://twitter.com/home" accesskey="h" id="home_link">Home</a></li>
          
          <li><a href="https://twitter.com/ausdogeth" accesskey="p" id="profile_link">Profile</a></li>
          <li><a href="https://twitter.com/invitations/find_on_twitter" accesskey="=" id="find_people_link">Find People</a></li>
          <li><a href="/settings/account" accesskey="s" id="settings_link">Settings</a></li>
          <li><a href="/help/start" accesskey="?" id="help_link">Help</a></li>
          <li>

            
              <a id="sign_out_link" href="/logout" onclick="document.getElementById('sign_out_form').submit(); return false;" accesskey="l">Sign out</a>
            
          </li>
          
        </ul>
            </div>



      

      <div class="content-bubble-arrow"></div>
      
      
      
        <table cellspacing="0" class="columns">
          <tbody>

            <tr>
              <td id="content" class="round-left column">
                                <div class="wrapper">
                  
                  








<div id="status_update_box"><form action="https://twitter.com/status/update" class="status-update-form" id="status_update_form" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="75bd655c6284c89524d2de017670ec535d97a1f5" /></div>
  <input id="tab_action" name="tab" type="hidden" value="index" />  <input id="authenticity_token" name="authenticity_token" type="hidden" value="75bd655c6284c89524d2de017670ec535d97a1f5" />  <input id="in_reply_to_status_id" name="in_reply_to_status_id" type="hidden" value="" />  <input id="in_reply_to" name="in_reply_to" type="hidden" value="" />  <input id="source" name="source" type="hidden" value="" />  <input id="display_coordinates" name="display_coordinates" type="hidden" value="false" />  <input id="lat" name="lat" type="hidden" value="" />  <input id="long" name="long" type="hidden" value="" />  <input id="place_id" name="place_id" type="hidden" value="" />

  <input id="tab_action" name="tab" type="hidden" value="index" />
  <fieldset class="common-form standard-form">
    <div class="bar">
      <h3><label for="status" class="doing">What’s happening?</label></h3>
      <span id="chars_left_notice" class="numeric">
        <strong id="status-field-char-counter" class="char-counter"></strong>
      </span>
    </div>

    <div class="info">
      <textarea cols="40" rows="2" id="status" name="status" accesskey="u" autocomplete="off" tabindex="1"></textarea>
      <div id="tweeting_controls">
        <a href="#" tabindex="2" id="tweeting_button" class="a-btn a-btn-m"><span>Tweet</span></a>
      </div>
            <div class="status-btn" style="display:none">
        <input type="submit" name="update" value="update" id="update-submit" class="status-btn round-btn" tabindex="2" />
      </div>

      <div id="update_notifications">
                  <div id="geo_status" class="position_container"></div>
                <div id="latest_status">
          
            <span id="latest_status"><span id="latest_text"><span class="status-text"></span><span id="latest_meta" class="entry-meta">&nbsp;22 minutes ago</span></span><span id="latest_text_full"><strong>Latest: </strong><span class="status-text"><a href="http://kev-twitter.heroku.com/tweets" rel="nofollow" target="_blank">http://kev-twitter.heroku.com/tweets</a></span>
      <span class="entry-meta">
        <a href="https://twitter.com/ausdogeth/status/11908888147" class="entry-date" rel="bookmark"><span class="published" title="2010-04-10T00:06:43+00:00">22 minutes ago</span></a>&nbsp;<span>from web</span>

    </span>
  </span></span>


                  </div>
      </div>
      <div class="clear"></div>
    </div>
  </fieldset>
</form>

  </div>
<div id="dm_update_box"><form action="/direct_messages" class="status-update-form" id="direct_message_form" method="post"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value="75bd655c6284c89524d2de017670ec535d97a1f5" /></div>  <fieldset class="common-form standard-form">
    <div class="bar">
      <h3>
        <label for="doing">
          Send <select name="user[id]" id="direct_message_user_id" accesskey=">" tabindex="3"></select> a direct message.
        </label>
      </h3>

      <span id="chars_left_notice" class="numeric">
        <strong id="status-field-char-counter" class="char-counter"></strong>
      </span>
    </div>
    <div class="info">
      <textarea accesskey="u" autocomplete="off" cols="15" id="text" name="text" rows="3" tabindex="4"></textarea>
    </div>
    <div class="status-btn">

      <input type="submit" name="update" value="send" id="dm-submit" class="round-btn dm-btn" tabindex="4" />
      <input id="direct_message_screen_name" name="screen_name" type="hidden" value="" />
      <input id="tab_action" name="tab" type="hidden" value="index" />
    </div>
  </fieldset>
</form>
</div>





<div class="section">
  

  

  <div id="timeline_heading">
    <h1 id="heading"><span id="title">Home</span></h1>

    <ul id="dm_tabs" class="tabMenu">
      <li id="inbox_tab"><a href="https://twitter.com/inbox" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;inbox&quot;}"><span>Inbox</span></a></li>
      <li id="sent_tab"><a href="https://twitter.com/sent" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;sent&quot;}"><span>Sent</span></a></li>
    </ul>

    

          <ul id="retweet_tabs" class="tabMenu">
        <li id="retweets_by_others_tab"><a href="https://twitter.com/retweets_by_others" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;retweets_by_others&quot;}"><span>Retweets by others</span></a></li>
        <li id="retweets_tab"><a href="https://twitter.com/retweets" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;retweets&quot;}"><span>Retweets by you</span></a></li>
        <li id="retweeted_of_mine_tab"><a href="https://twitter.com/retweeted_of_mine" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;retweeted_of_mine&quot;}"><span>Your tweets, retweeted</span></a></li>
      </ul>
      </div>

  <div class="trend-description-container">
    <div id="trend_description">
      <span></span><img alt="Trend Info" height="16" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/icon-what-whitebg.png" title="Twitter looks at every incoming tweet, then ranks the popularity of certain words or phrases in real time. Click any of the popular topics below to see what people are saying about them right now. Some topic descriptions are sourced from WhatTheTrend.com." width="16" /><p></p>
    </div>
  </div>

  
      <div data="{&quot;timeline&quot;:{&quot;delay&quot;:30,&quot;decay&quot;:1.5,&quot;max_refresh_size&quot;:40,&quot;max_delay&quot;:300},&quot;search&quot;:{&quot;delay&quot;:20,&quot;decay&quot;:1.25,&quot;max_delay&quot;:180}}" id="new_results_notification"><a accesskey="n" class="minor-notification" href="/" id="results_update" style="display:none;"></a></div>
  

  
    <ol id='timeline' class='statuses'>
                  <li class="hentry u-i_chris_jacob status" id="status_11909747116"
>

  <span class="thumb vcard author"><a href="https://twitter.com/i_chris_jacob" class="tweet-url profile-pic url"><img alt="i_chris_jacob" class="photo fn" height="48" src="https://s3.amazonaws.com/twitter_production/profile_images/68676297/n1114692106_30017645_622_normal.jpg" width="48" /></a></span>  <span class="status-body">
    <span class="status-content">
              <strong><a href="https://twitter.com/i_chris_jacob" class="tweet-url screen-name">i_chris_jacob</a></strong>
        
                    <span class="actions"><div>      <a id="status_star_11909747116" class="fav-action non-fav" title="favorite this tweet">&nbsp;&nbsp;</a>
</div></span>
            <span class="entry-content"><a href="http://www.heroku.com" class="tweet-url web" rel="nofollow" target="_blank">www.heroku.com</a> is awesome for simple deployment of Rails app</span>

          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="https://twitter.com/i_chris_jacob/status/11909747116">
    <span class="published timestamp" data="{time:'Sat Apr 10 00:26:36 +0000 2010'}">2 minutes ago</span></a>
  <span>via web</span>
    
  </span>

    <ul class="actions-hover">

      <li>
      <span class="reply">
        <span class="reply-icon icon"></span>
        <a href="/?status=@i_chris_jacob&in_reply_to_status_id=11909747116&in_reply_to=i_chris_jacob" title="reply to i_chris_jacob">Reply</a>
      </span>
    </li>
  
            <li>
        <span class="retweet-link">

          <span class="retweet-icon icon"></span>
          <a title="Retweet" href="#">Retweet</a>
        </span>
      </li>
      
  </ul>
          </span>
</li>
                <li class="hentry u-ausdogeth mine status" id="status_11908888147"
>
  <span class="thumb vcard author"><a href="https://twitter.com/ausdogeth" class="tweet-url profile-pic url"><img alt="Kevin Read" class="photo fn" height="48" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/default_profile_3_normal.png" width="48" /></a></span>  <span class="status-body">

    <span class="status-content">
              <strong><a href="https://twitter.com/ausdogeth" class="tweet-url screen-name">ausdogeth</a></strong>
        
                    <span class="actions"><div>      <a id="status_star_11908888147" class="fav-action non-fav" title="favorite this tweet">&nbsp;&nbsp;</a>
</div></span>
            <span class="entry-content"><a href="http://kev-twitter.heroku.com/tweets" class="tweet-url web" rel="nofollow" target="_blank">http://kev-twitter.heroku.com/tweets</a></span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="https://twitter.com/ausdogeth/status/11908888147">

    <span class="published timestamp" data="{time:'Sat Apr 10 00:06:43 +0000 2010'}">22 minutes ago</span></a>
  <span>via web</span>
    
  </span>

    <ul class="actions-hover">
  
        
      <li>
      <span class="del">
        <span class="delete-icon icon"></span>

        <a href="#" title="delete this tweet">Delete</a>
      </span>
    </li>
  </ul>
          </span>
</li>
                <li class="hentry u-ausdogeth mine status" id="status_11907250794"
>
  <span class="thumb vcard author"><a href="https://twitter.com/ausdogeth" class="tweet-url profile-pic url"><img alt="Kevin Read" class="photo fn" height="48" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/default_profile_3_normal.png" width="48" /></a></span>  <span class="status-body">

    <span class="status-content">
              <strong><a href="https://twitter.com/ausdogeth" class="tweet-url screen-name">ausdogeth</a></strong>
        
                    <span class="actions"><div>      <a id="status_star_11907250794" class="fav-action non-fav" title="favorite this tweet">&nbsp;&nbsp;</a>
</div></span>
            <span class="entry-content">Rails training!</span>
          </span>
    <span class="meta entry-meta" data='{}'>
  <a class="entry-date" rel="bookmark" href="https://twitter.com/ausdogeth/status/11907250794">

    <span class="published timestamp" data="{time:'Fri Apr 09 23:28:28 +0000 2010'}">about 1 hour ago</span></a>
  <span>via web</span>
    
  </span>

    <ul class="actions-hover">
  
        
      <li>
      <span class="del">
        <span class="delete-icon icon"></span>

        <a href="#" title="delete this tweet">Delete</a>
      </span>
    </li>
  </ul>
          </span>
</li>
      </ol>
    <div id="pagination">
      
    </div>

  

  
  

  <table id="next_steps" class="get-started-steps" cellspacing="0">
  <tr>
    <td class="thumb" style="text-align:center; border: 0;"><img src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/girl.gif"/></td>
    <td style="border: 0;">
      <h2>What to do now:</h2>
      <ol style="margin: 5px 20px;line-height:1.6em">
        <li style='text-decoration:line-through'>
          Tell us what <strong>you&rsquo;re</strong> doing in the box above
        </li>

        <li style='text-decoration:line-through'>
          <a id="find_some_friends_link" href="/invitations/">Find some friends</a> and follow what <strong>they&rsquo;re</strong> doing
        </li>
        <li >
          <a id="turn_on_mobile_link" href="/devices">Turn on your mobile phone</a> to update your friends on the go
        </li>

      </ol>
    </td>
  </tr>
</table>

  
</div>






                </div>

                              </td>
              
                <td id="side_base" class="column round-right">
                                  
                  <div id="side">
                      <div id="profile" class="section">
  <div class="user_icon">
    <a href="https://twitter.com/ausdogeth" class="url" rel="contact" title="Kevin Read"><img alt="Kevin Read" class="side_thumb photo fn" height="48" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/default_profile_3_normal.png" width="48" /><span id="me_name">ausdogeth</span><span id="me_tweets"><span id="update_count">2</span> tweets</span></a>
  </div>

        


<div class="stats">
  <table>
    <tr>
      <td>
      
        

<a href="/following" id="following_count_link" class="link-following_page" rel="me" title="See who you’re following">
  <span id="following_count" class="stats_count numeric">2 </span>
  <span class="label">Following</span>
</a>


      </td>
      <td>

<a href="/followers" id="follower_count_link" class="link-followers_page" rel="me" title="See who’s following you">
  <span id="follower_count" class="stats_count numeric">0 </span>
  <span class="label">Followers</span>
</a>

</td>

              <td>

<a href="/ausdogeth/lists/memberships" id="lists_count_link" class="link-lists_page" rel="me" title="See which lists you’re on">
  <span id="lists_count" class="stats_count numeric">0 </span>
  <span class="label">Listed</span>
</a>

</td>
                </tr>
  </table>

</div>
  
</div>

<p class="promotion round">
  <a href="http://thecadmus.com" class="definition" onClick="javascript: pageTracker._trackPageview('/definition/cadmus');"><strong>Cad&middot;mus</strong><em>n.</em> a tool to find the most relevant tweets in your timeline.</a>
  </p>


<ul id="primary_nav" class="sidebar-menu">

  <li id="home_tab"><a href="https://twitter.com/home" accesskey="h" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;home&quot;}"><span>Home</span></a></li>
  <li id="replies_tab"><a href="https://twitter.com/replies" accesskey="m" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;replies&quot;}"><span>@ausdogeth</span></a></li>
  <li id="direct_messages_tab">
    <a href="https://twitter.com/inbox" accesskey="d" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;inbox&quot;}"><span id="message_count" class="stat_count">0</span><span>Direct Messages</span></a>    <a href="https://twitter.com/inbox" accesskey="i" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;inbox&quot;}" style="display:none;"></a>    <a href="https://twitter.com/sent" accesskey="o" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;sent&quot;}" style="display:none;"></a>  </li>
  <li id="favorites_tab"><a href="https://twitter.com/favorites" accesskey="f" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;favorites&quot;}"><span>Favorites</span></a></li>      <li id="retweets_by_others_tab"><a href="https://twitter.com/retweets_by_others" accesskey="r" class="in-page-link" data="{&quot;dispatch_action&quot;:&quot;retweets_by_others&quot;}"><span>Retweets</span></a></li>    </ul>




  <div id="custom_search">
    <form action="/timeline/search" class="search" id="sidebar_search" method="get">      <input id="sidebar_search_q" type="text" name="q" accesskey="/" class="round-left" title="Search" value=""
      /><span id="sidebar_search_submit" class="submit round-right" title="Search">&nbsp;</span>
          </form>
  </div>

    <div id="saved_searches" class="collapsible"
    
       style="display:none;">
      <h2 class="sidebar-title" id="ss_menu"><span>Saved Searches</span></h2>

      <ul class="sidebar-menu saved-search-links">
      
      </ul>
      <hr/>
      </div>

      
    <div id="side_lists" class="in-page-lists collapsible">
      <h2 class="sidebar-title" id="ml_menu"><span>Lists</span></h2>
            <ul class="sidebar-menu lists-links">
         
      </ul>

              <p class="sidebar-menu no-lists"><small>Lists are timelines you build yourself, consisting of friends, family, co-workers, sports teams, you name it.</small></p>
            <p class="sidebar-menu sidebar-menu-actions">
        <span class="new-list"><a href="#">New list</a></span>
                      </p>
      <hr/>
    </div>
  
      
<div id="trends" class="collapsible" data="{global_id: 6 }">
  
    
      <div id="local_trends" style="display:none">

        <div id="local_trend_locations">
          <div class="callout"></div>
            <label>Countries</label>
                <ul class="clearfix" id="local_trend_countries">
                
                
                    <li><a href="#" class="" id="trend_loc_6" parents="">Worldwide</a></li>
                  
                    <li><a href="#" child_class="c_country_BR" class="country_BR" id="trend_loc_2" parents="">Brazil</a></li>
                  
                    <li><a href="#" child_class="c_country_CA" class="country_CA" id="trend_loc_3" parents="">Canada</a></li>

                  
                    <li><a href="#" child_class="c_country_IE" class="country_IE" id="trend_loc_71" parents="">Ireland</a></li>
                  
                    <li><a href="#" child_class="c_country_MX" class="country_MX" id="trend_loc_16" parents="">Mexico</a></li>
                  
                    <li><a href="#" child_class="c_country_GB" class="country_GB" id="trend_loc_5" parents="">United&nbsp;Kingdom</a></li>
                  
                    <li><a href="#" child_class="c_country_US" class="country_US" id="trend_loc_7" parents="">United&nbsp;States</a></li>
                  
                
              </ul>
              <hr/>

            

            
              <label>Cities</label>
              <ul class="clearfix" id="local_trend_cities">
                
                  <li><a href="#" class="c_prov_GA c_country_US" id="trend_loc_20" parents="prov_GA country_US">Atlanta</a></li>
                
                  <li><a href="#" class="c_prov_MD c_country_US" id="trend_loc_88" parents="prov_MD country_US">Baltimore</a></li>
                
                  <li><a href="#" class="c_prov_MA c_country_US" id="trend_loc_22" parents="prov_MA country_US">Boston</a></li>
                
                  <li><a href="#" class="c_prov_IL c_country_US" id="trend_loc_24" parents="prov_IL country_US">Chicago</a></li>

                
                  <li><a href="#" class="c_prov_TX c_country_US" id="trend_loc_26" parents="prov_TX country_US">Dallas-Ft.&nbsp;Worth</a></li>
                
                  <li><a href="#" class="c_prov_TX c_country_US" id="trend_loc_30" parents="prov_TX country_US">Houston</a></li>
                
                  <li><a href="#" class="c_country_GB" id="trend_loc_32" parents="country_GB">London</a></li>
                
                  <li><a href="#" class="c_prov_CA c_country_US" id="trend_loc_8" parents="prov_CA country_US">Los&nbsp;Angeles</a></li>
                
                  <li><a href="#" class="c_prov_NY c_country_US" id="trend_loc_34" parents="prov_NY country_US">New&nbsp;York&nbsp;City</a></li>

                
                  <li><a href="#" class="c_prov_PA c_country_US" id="trend_loc_35" parents="prov_PA country_US">Philadelphia</a></li>
                
                  <li><a href="#" class="c_prov_TX c_country_US" id="trend_loc_40" parents="prov_TX country_US">San&nbsp;Antonio</a></li>
                
                  <li><a href="#" class="c_prov_CA c_country_US" id="trend_loc_41" parents="prov_CA country_US">San&nbsp;Francisco</a></li>
                
                  <li><a href="#" class="c_prov_WA c_country_US" id="trend_loc_10" parents="prov_WA country_US">Seattle</a></li>
                
                  <li><a href="#" class="c_country_BR" id="trend_loc_11" parents="country_BR">São&nbsp;Paulo</a></li>

                
                  <li><a href="#" class="c_prov_DC c_country_US" id="trend_loc_44" parents="prov_DC country_US">Washington,&nbsp;D.C.</a></li>
                
              </ul>
              <hr/>
            
          <p>
            <span class="info">Don't see your location?  We're working on it.</span>
            <button id="location_done" class="btn">Done</button>
          </p>

        </div>
      </div>
    
  
  
    <h2 class="sidebar-title" id="tt_menu"><span>Trending: </span><span id="location_menu">Worldwide</span></h2>
  
  
        <p class="sidebar-menu sidebar-location">
      <img alt="Spinner" id="trends_loading" src="https://s3.amazonaws.com/twitter_production/a/1270853725/images/spinner.gif" style="display: none;" />
      <a id="change_location" href="#">Change</a>
    </p>

    
    
      <ul class="sidebar-menu trends-links">
        
          <li class="link-title _FF_tab"><a href="http://search.twitter.com/search?q=%23FF" class="search_link" name="#FF" rel="nofollow">#FF</a><em>Follow Friday. People tweet suggested users to follow on Friday.</em></li>
        
          <li class="link-title _nowplaying_tab"><a href="http://search.twitter.com/search?q=%23nowplaying" class="search_link" name="#nowplaying" rel="nofollow">#nowplaying</a><em>People are tweeting their media choice of the moment.</em></li>
        
          <li class="link-title _inthefuture_tab"><a href="http://search.twitter.com/search?q=%23inthefuture" class="search_link" name="#inthefuture" rel="nofollow">#inthefuture</a></li>
        
          <li class="link-title _followfriday_tab"><a href="http://search.twitter.com/search?q=%23followfriday" class="search_link" name="#followfriday" rel="nofollow">#followfriday</a><em>People tweet suggested users to follow on Friday.</em></li>

        
          <li class="link-title Justin_Bieber_tab"><a href="http://search.twitter.com/search?q=%22Justin+Bieber%22+OR+Bieber" class="search_link" name="&quot;Justin Bieber&quot; OR Bieber" rel="nofollow">Justin Bieber</a><em>The young Canadian R&amp;B/pop singer has a lot of fans who like to tweet about him! He will be the musical guest on Saturday Night Live on April 10.</em></li>
        
          <li class="link-title _thatsjustweird_tab"><a href="http://search.twitter.com/search?q=%23thatsjustweird" class="search_link" name="#thatsjustweird" rel="nofollow">#thatsjustweird</a><em>People are tweeting things they don't understand.</em></li>
        
          <li class="link-title _yourFACEmakesme_tab"><a href="http://search.twitter.com/search?q=%23yourFACEmakesme" class="search_link" name="#yourFACEmakesme" rel="nofollow">#yourFACEmakesme</a></li>
        
          <li class="link-title _iDoit2_tab"><a href="http://search.twitter.com/search?q=%23iDoit2" class="search_link" name="#iDoit2" rel="nofollow">#iDoit2</a><em>People are RTing @idoit2's tweets about things they also do.</em></li>
        
          <li class="link-title _forUs_tab"><a href="http://search.twitter.com/search?q=%23forUs" class="search_link" name="#forUs" rel="nofollow">#forUs</a></li>

        
          <li class="link-title _liltwistis_tab"><a href="http://search.twitter.com/search?q=%23liltwistis" class="search_link" name="#liltwistis" rel="nofollow">#liltwistis</a></li>
        
      </ul>
      
  <hr/>
</div>

  


  
  <div id="following" class="collapsible">
    <h2 class="sidebar-title" id="fm_menu"><span>Following</span></h2>
    
              <div class="sidebar-menu">
  <div id="following_list">

    
  <span class="vcard">
    <a href="/i_chris_jacob" class="url" hreflang="en" rel="contact" title="i_chris_jacob"><img alt="i_chris_jacob" class="photo fn" height="24" src="https://s3.amazonaws.com/twitter_production/profile_images/68676297/n1114692106_30017645_622_mini.jpg" width="24" /></a>  </span>


  <span class="vcard">
    <a href="/drnic" class="url" hreflang="en" rel="contact" title="Dr Nic"><img alt="Dr Nic" class="photo fn" height="24" src="https://s3.amazonaws.com/twitter_production/profile_images/255661389/Photo_43_mini.jpg" width="24" /></a>  </span>


  </div>
  

</div>

            <span class="xref"><small><a href="/invitations" class="xref">Add</a></small></span>
    
  </div>


<div id="rssfeed">
  <hr/>
  <a href="/statuses/friends_timeline/131325015.rss" class="xref rss timeline-rss" rel="alternate" type="application/rss+xml">RSS feed</a>
  <a href="http://search.twitter.com/search.atom?q=" class="xref rss search-rss" rel="alternate" type="application/rss+xml">RSS feed for this query</a>

  <a href="/favorites/131325015.rss" class="xref rss favorites-rss" rel="alternate" type="application/rss+xml">RSS feed for favorites</a>
</div>

  <div id="list_dialog" style="display: none;">
  <div>
  <form method="post" action="https://twitter.com/ausdogeth/lists">
    <fieldset>
      <label class="title">List name</label>
      <input type="text" id="list_name" name="list[name]" class="list-name title" maxlength="25" />

      <span class="list-slug-title-and-slug" style="display: none;">
        <label class="list-slug-title title">List link:</label>
        <div class="list-slug"><span class="list-link">@ausdogeth/<span></span></span></div>
      </span>
    </fieldset>
    <fieldset class="clear list-description-fieldset">
      <label class="title">Description</label>

      <textarea id="list_description" name="list[description]" class="list-description title" maxlength="100"></textarea>
      <div class="list-description-instruction">Under 100 characters, optional</div>
    </fieldset>
    <fieldset class='clear bottom'>
      <label class="title">Privacy</label>
      <div class="options">
        <label class="radio"><input type="radio" name="list[mode]" value="0" checked="checked" /> <strong>Public</strong> &mdash; Anyone can subscribe to this list.</label>

        <label class="radio"><input type="radio" name="list[mode]" value="1" /> <strong>Private</strong> &mdash; Only you can access this list.</label>
      </div>
      <div class="private-warning">
        <strong>Are you sure?</strong>
        <p>Switching your list from public to private will remove all of its subscribers.</p>

      </div>
    </fieldset>
    <input id="authenticity_token" name="authenticity_token" type="hidden" value="75bd655c6284c89524d2de017670ec535d97a1f5" />
    <input type="submit" class="btn create-list-button submit" value="Create list" />
    <input type="submit" class="btn update-list-button submit" value="Update list" />
    <input type="hidden" class="list-member-id" name="list[member][id]" />
    <input type="hidden" class="list-slug-field" name="list[slug]" />
  </form>
  </div>

</div>

<h2 id="list_dialog_header" style="display: none;">
  <span class="create-list-heading">Create a new list</span>
  <span class="update-list-heading">Update this list</span>
</h2>

<div id="list_no_members_owner" style="display: none;">
  <div class="no-members">
  <h3>Find people to add to your list:</h3>

  <form action="https://twitter.com/search/users" method="get">  <fieldset class="common-form">
                <input class="medium" id="q" name="q" type="text" />      <input type="hidden" name="category" value="people" />
      <input type="hidden" name="source" value="users" />
      <input class="submit btn" id="search_users_submit" type="submit" value="search" />      <p class="instruction">Search for a username, first or last name, business or brand</p>
            </fieldset>
</form>  <p class="tip">You can also add people from your <a href="/following">Following</a> page or anyone’s profile page.</p>

</div>
</div>
<div id="list_no_members" style="display: none;">
  <p class="no-members">This list doesn’t follow any users yet. It probably will soon, though.</p>

</div>

  

                  </div>
                                </td>
              
            </tr>
          </tbody>

        </table>
      

      
  <div id="footer" class="round">
      <h3 class="offscreen">Footer</h3>
      
      
      <ul class="footer-nav">
          <li class="first">&copy; 2010 Twitter</li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about/contact">Contact</a></li>

          <li><a href="http://blog.twitter.com">Blog</a></li>
          <li><a href="http://status.twitter.com">Status</a></li>
                      <li><a href="/goodies">Goodies</a></li>
                    <li><a href="http://apiwiki.twitter.com/">API</a></li>
                      <li><a href="http://business.twitter.com/twitter101">Business</a></li>
                    <li><a href="/help/start">Help</a></li>

          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/tos">Terms</a></li>
          <li><a href="/privacy">Privacy</a></li>
      </ul>
  </div>



      <hr />

    </div>

    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/twitter-https.js" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/lib/jquery.tipsy.min.js?1270854146" type="text/javascript"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/lib/gears_init.js?1270854146" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/geov1.js?1270854146" type="text/javascript"></script>

<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/api.js?1270854146" type="text/javascript"></script>
  <script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/lib/mustache.js?1270854146" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/dismissable.js?1270854146" type="text/javascript"></script>
  
    <script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/api.js?1270854146" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/controls.js?1270854146" type="text/javascript"></script>
<script src="https://s3.amazonaws.com/twitter_production/a/1270853725/javascripts/hover_cards.js?1270854146" type="text/javascript"></script>
  

<script type="text/javascript">
//<![CDATA[
  page.summizeSearchUrl = 'http://integratedsearch.twitter.com/search.html';
  page.query = '';
  page.locale = 'en';
  
    page.showSSFetchOnly = true;
  
      page.controller_name = 'TimelineController';
      page.action_name = 'home';
      twttr.form_authenticity_token = '75bd655c6284c89524d2de017670ec535d97a1f5';
      $.ajaxSetup({ data: { authenticity_token: '75bd655c6284c89524d2de017670ec535d97a1f5' } });

      // FIXME: Reconcile with the kinds on the Status model.
      twttr.statusKinds = {
        UPDATE: 1,
        SHARE: 2
      };
      twttr.ListPerUserLimit = 20;

      
    
//]]>
</script>

<script type="text/javascript">
//<![CDATA[

      $( function () {
        $('#latest_status').isCurrentStatus();  $('#direct_message_form').isDirectMessageForm();
    $('.new-list').isNewListLink();
    $('#local_trends').isLocationTrends();
    $('.new-list-banner').isNewListLink();
    initializePage('home');
  $('.embedded_media_icon').isEmbeddedMediaExpander();
  $('#user_alert_bulletin').isAlertBox();
  
    $(document).ready(function() {
      if ($.browser.msie && $.browser.version < 7) {
        return;
      }
      twttr.HOVERCARD = new twttr.HoverCard('#timeline img.photo.fn:not(.shared-by-avatar-tiles img.photo.fn), #timeline .entry-content a.tweet-url.username, .retweet-meta a.screen-name');

      // this screen name next to the avatar triggers the hovercard ON the avatar
      $('#timeline a.tweet-url.screen-name')
        .live("mouseover", function() {
          $(this).closest('li').find('img.photo.fn:not(.shared-by-avatar-tiles img.photo.fn)').trigger('mouseover');
        })
        .live("mouseout", function() {
          $(this).closest('li').find('img.photo.fn:not(.shared-by-avatar-tiles img.photo.fn)').trigger('mouseout');
        });

      $('ul.sidebar-menu a').bind('click', function(e) {
        var $this = $(this).parent();
        if ($this.is('#primary_nav li, ul.lists-links li')) {
          twttr.HOVERCARD.enable();
        }
        else {
          twttr.HOVERCARD.disable();
        }
      });

      $('#content li.status').live('mousedown', function() {
        twttr.HOVERCARD.unregister();
      });

      $('body').bind('mouseup', function() {
        twttr.HOVERCARD.register();
      });

    });
  

      });
    
//]]>
</script>

        <!-- BEGIN google analytics -->

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript">

    try {
      var pageTracker = _gat._getTracker("UA-30775-6");
      pageTracker._setDomainName("twitter.com");
            pageTracker._setVar('Logged In');
            pageTracker._setVar('lang: en');
            pageTracker._initData();
                              pageTracker._trackPageview('/home');
                  } catch(err) { }

  </script>

  <!-- END google analytics -->




    <div id="notifications"></div>


    

    
  


  </body>

</html>
