<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Twitter</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />
</head>
<body>
  <div id="wrap">
    <div id="header">
      <h1><a href="/">Twitter Clone</a></h1>
<%= render :partial => 'layouts/nav' %>
    </div>
    <div id="content">
      <div id="main">
		<% flash.each_pair do |key, value|%>
		<div class="flash #{key}"><%=h value%></div>
		<%end%>
        <%= yield %>
      </div>
      <div id="sidebar">
        sidebar aoetuha soneu  asoteu atoeuh aoeu
      </div>
    </div>
    <div id="footer">
      Ze footer
    </div>
  </div>
</body>
</html>
